.container {
    width: 250px;
    height: 600px;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
}





.red {
    background-color: red;
    flex-basis: 5%;
    
}

.blue {
    background-color: blue;
    flex-basis: 30%;
}

.green {
    background-color: green;
    flex-basis: 30%;
}

.pink {
    background-color: pink;
    flex-basis: 30%;
}

.purple {
    background-color: purple;
    flex-basis: 5%;
}

@media screen and (768px) {
    
}